RewriteEngine on

RewriteRule ^(app|admin|hector)(/.*)?$ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
RewriteRule ^$ index.php [L]